%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:dictionaries, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:dictionaries, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:dictionaries, :edit, :id => @dictionary.id)

.tabs-content
  = form_for :dictionary, url(:dictionaries, :update, :id => @dictionary.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'dictionaries/form', :locals => { :f => f }
