// Colors
$red:        #ed2024;
$light-grey: #f2f2f2;
$grey:       #a3b1c4;
$dark-grey:  #3a3f46;
$purple:     #6946d8;
$blue:       #34aadf;
$facebook:   #3a5999;
$green:      #1cbe70;
$dark-green: #137f4b;
$darker-green: #16653e;
$blue-grey: #40414e;

// Layout
$width: 60%;
$dictionary-width: 200px;
$dictionary-offset: $dictionary-width + 230px;
