- error = @entry.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Dictionary", :class => 'control-label'
  .controls
    =f.select(:dictionary_id, :collection => dictionaries, :fields => [:name, :id], :class => 'form-control input-large') 

%fieldset.control-group{:class => error ? 'has-error' : ''}
  #fileupload
    =f.label "Video(s) – hold Shift / Ctrl / Cmd to upload mulitple files", :class => 'control-label'
    .controls
      =f.file_field :video, :class => 'form-control', :multiple => true


.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:entries, :index), :class => 'btn btn-default'
