- error = @entry.errors.include?(:name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :name, :class => 'control-label'
  .controls
    =f.text_field :name, :class => 'form-control input-large input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:name, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:dictionary_id)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :dictionary_id, :class => 'control-label'
  .controls
    =f.text_field :dictionary_id, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:dictionary_id, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:base_url)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :base_url, :class => 'control-label'
  .controls
    =f.text_field :base_url, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:base_url, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:thumbnail_small)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :thumbnail_small, :class => 'control-label'
  .controls
    =f.text_field :thumbnail_small, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:thumbnail_small, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:thumbnail_medium)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :thumbnail_medium, :class => 'control-label'
  .controls
    =f.text_field :thumbnail_medium, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:thumbnail_medium, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:video_file_name)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :video_file_name, :class => 'control-label'
  .controls
    =f.text_field :video_file_name, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:video_file_name, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:video_content_type)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :video_content_type, :class => 'control-label'
  .controls
    =f.text_field :video_content_type, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:video_content_type, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:video_file_size)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :video_file_size, :class => 'control-label'
  .controls
    =f.text_field :video_file_size, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:video_file_size, :class => 'text-error') : pat(:example)
- error = @entry.errors.include?(:video_updated_at)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :video_updated_at, :class => 'control-label'
  .controls
    =f.text_field :video_updated_at, :class => 'form-control input-large input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:video_updated_at, :class => 'text-error') : pat(:example)

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:entries, :index), :class => 'btn btn-default'