//////////////////////////////////////////////////
// GLOBAL
//////////////////////////////////////////////////

body { background: #1f1f1f; }

//////////////////////////////////////////////////
// STRUCTURE
//////////////////////////////////////////////////
#wrapper { margin: 0 auto; }
.row { margin: 0 auto; }
