!!! 5
%html
  %head
    %title Crumbles
    %link{href: "./assets/style.scss", media: "screen", rel: "stylesheet"}
    = favicon_tag "/assets/favicon.ico"

  %body
    #left
      %h1.crumbles Crumbles
      .thirtylabs
        %span.created created at
        %a{ href: "http://thirtylabs.com", target: "_blank"}
          %img{ src: "assets/30L.svg" }

    #main
      #input-container
        #mashup-input
          Hang tight, we're loading your video now! 
        #words-left
      %div
        %video{ poster: "http://df6s2wloldzyx.cloudfront.net/standard/crumbs/hello/hello-medium-res-00001.jpg" }
        .loader
    #right
    %script{ src: "http://fb.me/react-with-addons-0.12.2.min.js", type: "text/javascript"}
    %script{ src: "http://fb.me/JSXTransformer-0.12.2.js", type: "text/javascript"}
    %script{ src: "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"}
 
    %script{ src: "./assets/application_react.js", type:"text/jsx"}
    
