!!! 5
%html
  %head
    %title Crumbles
    %link{href: "./assets/style.scss", media: "screen", rel: "stylesheet"}
    = favicon_tag "/assets/favicon.ico"

  %body
    #wrapper
      #main
    #initial-loader.loader
    = partial "partials/footer"
      
