!!! 5
%html
  %head
    %title Say It With Suits
    %link{href: "./assets/style.scss", media: "screen", rel: "stylesheet"}
    = favicon_tag "/assets/favicon.ico"
    / USA NETWORKS
    :css
      @import url("http://www.usanetwork.com/sites/usanetwork/files/css/css_536568333d357cc97900601b78c8d6390f610f11110b9534442a4030df4ac16c.css");

  %body
    = partial "vendor/ad_banner"
    #wrapper
      #main
    #initial-loader.loader
    = partial "vendor/usa_footer"
    = partial "partials/footer"
      
