!!! 5
%html
  %head
    %title Hello, World
    %script{ src: "http://fb.me/react-with-addons-0.12.2.min.js", type: "text/javascript"}
    %script{ src: "http://fb.me/JSXTransformer-0.12.2.js", type: "text/javascript"}
    %script{ src: "http://code.jquery.com/jquery-1.10.0.min.js"}
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"}

  %body
    #main
    %script{ src: "./assets/standard.js"}
    %script{ src: "./assets/react/player.js", type:"text/jsx"}
    
